*{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}
#header{width:100%;}
.header-top{
	width:100%;height:56px;
	background: #25292e;
}
.wrap{
	width:1000px;height:56px;
	margin: 0 auto;
}
.logo{
	width:95px;height:38px;
	margin: 9px 0;
	float:left;
}
.logo a{
	width:95px;height:38px;
	background: url(../img/logo.png) no-repeat;
	float:left;
}
.nav{
	height:56px;
	float:right;
	position:relative;
}
.nav li{
	font-size: 12px;
	float: left;
    height: 56px;
    line-height: 56px;
}
.shopcar:hover>a{
	color:#ccc;
}
.shopcar:hover .cart{
	display: block;
}
.shopcar:hover .cart>.cart_list>a{
	color:#fff;
}
.cart{
	width: 320px;
    letter-spacing: 1px;
    position:absolute;
    top:56px;
    right: 0px;
    background: #292f34;
    display: none;
    
}

.cart .shop{
	height: 70px;
	color: #9d9d9d;
    line-height: 70px;
    padding: 0 20px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
}
.cart .shop a{
	color:#ccc;
}
.cart .cart_list>a{
	width: 100%;
    height: 50px;
    line-height: 50px;
    background: #7dbfde;
    text-align: center;
    font-size: 14px;
    color: #ccc;
    display: block;
}
.nav li>a{
	height: 56px;
    line-height: 56px;
    color: #666;
    padding: 0 15px;
    letter-spacing: 1.1px;
}
.nav li>a:hover{
	color:#ccc;
}
.nav .shopcar:hover{
	background: #292f34;
}
.nav .posr:hover{
	background: #292f34;
}

.nav .line{
	width: 1px;
    height: 8px;
    margin-top: 25px;
    background: #525961;
}
#loginBtn{
	margin-right: 8px;
	padding: 0;
	color:#ccc;
}
#registerBtn{
	padding-right: 15px;
	padding-left: 0;
	color:#ccc;
}
.posr:hover a{
	color:#ccc;
}
.posr:hover .msg{
	display: block;
}
.posr .msg{
	position: absolute;
    top: 56px;
    right:0;
    background: #292f34;
    display: none;
}
.posr .msg a{
	display: block;
    width: 160px;
    height: 44px;
    padding: 0 15px;
    line-height: 44px;
    background: #292f34;
    cursor: pointer;
}
.posr .msg a span{
	width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0;
    border-bottom: 1px solid #3f4449;
    color: #ccc;
    font-size: 12px;
    letter-spacing: 1.5px;
    position:relative;
    display: block;
}
.posr .msg .last span{
	border: none;
}
.posr .msg a:hover{
	background: #2e353d;
}
.msg a span small{
	position: absolute;
    right: 0;
    top: 1px;
}
.add .shade{
	padding-right: 0;
}
